// Variables for the ags-markmap module
$ags-markmap-height: 400px !default;
$ags-markmap-border-color: #eee !default;
$ags-markmap-border-radius: 5px !default;
$ags-markmap-margin-bottom: 2rem !default;
$ags-markmap-mobile-height: 300px !default;
